/Leandro Gómez Flores/Programas/Calculadora 2.0 Thread/build/
/Leandro Gómez Flores/Programas/Calculadora 2.0 Thread/dist/
/Leandro Gómez Flores/Programas/Calculadora_Thread_C/build/
/Leandro Gómez Flores/Programas/Calculadora_Thread_C/dist/
/Leandro Gómez Flores/Tareas/Planta/Planta/nbproject/private/
/Leandro Gómez Flores/Tareas/Planta/Planta/build/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/SumaSubconjuntosPP/build/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/SumaSubconjuntosPP/nbproject/private/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/SumaSubconjuntos/dist/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/SumaSubconjuntosPP/dist/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/Suma de Subconjuntos/build/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/Suma de Subconjuntos/dist/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/Suma de Subconjuntos/nbproject/private/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/Suma de Subconjuntos - copia/build/
/Leandro Gómez Flores/Programas/SumaSubconjuntos/Suma de Subconjuntos - copia/nbproject/private/