/Leandro Gómez Flores/Programas/Calculadora 2.0 Thread/build/
/Leandro Gómez Flores/Programas/Calculadora 2.0 Thread/dist/
/Leandro Gómez Flores/Programas/Calculadora_Thread_C/build/
/Leandro Gómez Flores/Programas/Calculadora_Thread_C/dist/
/Leandro Gómez Flores/Tareas/Planta/Planta/nbproject/private/
/Leandro Gómez Flores/Tareas/Planta/Planta/build/